<template>
    <div class="slds-m-around_medium">
        <h1 class="slds-text-heading_small">Layout with a Vertical Align (Stretch)</h1>
        <p class="slds-text-body_regular">The layout items extend vertically to fill the container.</p>
    </div>
    <div class="c-container">
        <lightning-layout vertical-align="stretch" multiple-rows="true" class="x-large">
            <lightning-layout-item flexibility="auto" padding="around-small" class="custom-box">
                1
            </lightning-layout-item>
            <lightning-layout-item flexibility="auto" padding="around-small" class="custom-box">
                2
            </lightning-layout-item>
            <lightning-layout-item flexibility="auto" padding="around-small" class="custom-box">
                3
            </lightning-layout-item>
            <lightning-layout-item flexibility="auto" padding="around-small" class="custom-box">
                4
            </lightning-layout-item>
        </lightning-layout>
    </div>
</template>