<template>
    <div class="slds-m-around_medium">
        <h1 class="slds-text-heading_small">Layout with a Vertical Align (Center)</h1>
        <p class="slds-text-body_regular">The layout items are aligned in the center of the container.</p>
    </div>
    <div class="c-container">
        <lightning-layout vertical-align="center" class="x-large">
            <lightning-layout-item flexibility="auto" padding="around-small">
                <div class="custom-box">1</div>
            </lightning-layout-item>
            <lightning-layout-item flexibility="auto" padding="around-small">
                <div class="custom-box">2</div>
            </lightning-layout-item>
            <lightning-layout-item flexibility="auto" padding="around-small">
                <div class="custom-box">3</div>
            </lightning-layout-item>
            <lightning-layout-item flexibility="auto" padding="around-small">
                <div class="custom-box">4</div>
            </lightning-layout-item>
            <lightning-layout-item flexibility="auto" padding="around-small">
                <div class="custom-box">5</div>
            </lightning-layout-item>
            <lightning-layout-item flexibility="auto" padding="around-small">
                <div class="custom-box">6</div>
            </lightning-layout-item>
            <lightning-layout-item flexibility="auto" padding="around-small">
                <div class="custom-box">7</div>
            </lightning-layout-item>
            <lightning-layout-item flexibility="auto" padding="around-small">
                <div class="custom-box">8</div>
            </lightning-layout-item>
        </lightning-layout>
    </div>
</template>